<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="NorthvilleUI.Properties.Settings.NorthvilleConnectionString"
            connectionString="Data Source=DESKTOP-8PKLPN0\SQLEXPRESS;Initial Catalog=Northville;Persist Security Info=True;User ID=sopas;Password=sopas123;Encrypt=False;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
        <add name="NorthvilleUI.Properties.Settings.NorthvilleConnectionString1"
            connectionString="Data Source=DESKTOP-8PKLPN0\SQLEXPRESS;Initial Catalog=Northville;User ID=sopas;Password=sopas123;Encrypt=False;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>